# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
APP_ENV="development"
CRON_SECRET="replace-with-random-secret"

# Firebase Client
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCA-L-bX-Z-kA4q4aWyrocbCglgHMyRHII"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="zubda-d075c.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="zubda-d075c"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="zubda-d075c.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="1014387166201"
NEXT_PUBLIC_FIREBASE_APP_ID="1:1014387166201:web:8121dfb39f242644394b28"

# Firebase Admin
FIREBASE_PROJECT_ID="zubda-d075c"
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_PRICE_PRO_MONTHLY_USD="price_1TZBo3Gt2TNsj9pDMp8ZUMzA"
STRIPE_PRICE_PRO_MONTHLY_AED="price_1TZBo4Gt2TNsj9pDJBktubVa"
STRIPE_PRICE_PRO_MONTHLY_SAR="price_1TZBo6Gt2TNsj9pD28SOPkqO"
STRIPE_PRICE_FOUNDER_LIFETIME_USD="price_1TZBo7Gt2TNsj9pDIZ1BNyWl"
STRIPE_PRICE_FOUNDER_LIFETIME_AED="price_1TZBoEGt2TNsj9pDSW52A5on"
STRIPE_PRICE_FOUNDER_LIFETIME_SAR="price_1TZBoFGt2TNsj9pDJEhHsLUt"

# Resend
RESEND_API_KEY=""
RESEND_FROM_EMAIL="morning@zubda.ai"

# AI
AI_PROVIDER="gemini"
GEMINI_API_KEY=""
OPENAI_API_KEY=""
AI_SUMMARY_MODEL=""
AI_CLASSIFICATION_MODEL=""
AI_FINAL_BRIEF_MODEL=""
AI_QUALITY_CHECK_MODEL=""

# FX
FX_API_KEY=""
FX_PROVIDER=""
